body {
  background: #fafbfd;
}

/*采购商左侧菜单样式*/

/*采购商右侧tab样式*/

/**
 * Created by 王晓 on 2017/8/16.
 *
 */

.tabs-box .tabs-head {
  height: 42px;
  line-height: 40px;
  padding-left: 30px;
  border-bottom: 2px solid #e4e4e4;
}

.tabs-box .tabs-head .item {
  width: 100px;
  text-align: center;
}

.tabs-box .tabs-head .active {
  border-bottom: 2px solid #CC0000;
}

.table-list-group {
  margin: 12px 12px 0 12px;
}

/*采购商右边订单trace样式*/

/**
 * Created by 郑采风 on 2017/8/17.
 * 订单跟踪
 */

.right-side-order {
  width: 990px;
  margin-top: 13px;
  margin-left: 15px;
}

.order-center-top {
  border-bottom: 2px solid #108ee9;
}

.order-center-content {
  width: 100%;
  height: 50px;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  background: #ffffff;
  padding: 12px;
}

.order-center-content div {
  width: 100%;
  height: 26px;
  border: 1px solid #fbe9c5;
  background: #fef9ed;
}

.order-center-content img {
  margin-left: 14px;
  margin-top: 6px;
  margin-right: 6px;
}

.order-center-content .span-first {
  margin-right: 40px;
}

.order-center-bottom {
  width: 100%;
  height: 10px;
  background: url("../img/pur-odrder_03.gif") repeat-x;
}

.hovertree-trackrcol {
  /*max-width: 990px;*/
  border: 1px solid #d2eafb;
  background: #FFFFFF;
  margin-top: 12px;
  padding-bottom: 24px;
}

.hovertree-trackrcol p {
  width: 100%;
  height: 38px;
  font-size: 14px;
  background: #ecf6fd;
  line-height: 38px;
  padding-left: 24px;
}

.hovertree-tracklist {
  width: 100%;
  margin-top: 14px;
  padding-left: 5px;
  position: relative;
}

.hovertree-tracklist ul {
  padding: 0 16px;
}

.hovertree-tracklist li {
  position: relative;
  padding: 9px 0 0 25px;
  line-height: 28px;
  border-left: 1px solid #d9d9d9;
  color: #999;
}

.hovertree-tracklist li .idea {
  display: block;
  color: red;
}

.hovertree-tracklist li .node-icon {
  position: absolute;
  left: -5px;
  top: 50%;
  width: 11px;
  height: 11px;
}

.green-icon {
  background: url("../img/pur-odrder_02.gif") no-repeat;
}

.blue-icon {
  background: url("../img/pur-odrder_BLUE.png") no-repeat;
}

.red-icon {
  background: url("../img/pur-odrder_RED.png") no-repeat;
}

/*.hovertree-tracklist li.first .node-icon {
  background-position: 0 -72px;
}*/

.hovertree-tracklist li .time {
  margin-right: 20px;
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.hovertree-tracklist li .txt {
  max-width: 900px;
  position: relative;
  top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.hovertree-tracklist li.first .time {
  margin-right: 20px;
}

.hovertree-tracklist li.first .txt {
  max-width: 900px;
}

.hovertreeinfo {
  margin-top: 10px;
}

.hovertreeinfo a {
  color: blue;
}

.order-msg p.title {
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  padding-left: 10px;
}

.order-msg-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e4;
}

.order-msg-form .order-msg-top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e4e4e4;
  background: #f9f9f9;
  line-height: 36px;
  text-align: center;
}

.order-msg-form .order-msg-top span {
  display: inline-block;
  width: 50%;
  height: 36px;
}

.order-msg-content {
  font-size: 12px;
  padding: 19px 20px 18px;
}

.order-msg-content span {
  display: inline-block;
  width: 80px;
  height: 18px;
  line-height: 18px;
  text-align: right;
}

.order-msg-content .order-msg-content-first {
  width: 50%;
  border-right: 1px solid #e4e4e4;
}

.order-msg-content ul li {
  line-height: 24px;
}

.order-msg-content ul li i {
  display: inline-block;
  text-indent: 15px;
}

/*采购商右边form样式*/

/**
  *Created by liuyuanyuan on 2017/8-14
  *订单样式
  */

.purchaser-order {
  /*//最下面的金额计算
  .total-container{
    //height: 153px;
    border: 1px solid #FBE9C5;
    background-color: #FEF9ED;
    margin-top: 15px;
    padding: 0 30px;
    .total-top,.total-middle,.total-bottom{
      height: 50px;
      line-height: 50px;
    }
    .total-top{
      line-height: 48px;
      .c_color_CC9900{
        color: #CC9900;
      }
    }
    .total-middle{
      border-bottom: 1px solid #FBE9C5;
    }
  }*/
  /**
   *订单搜索条件样式
   */
  /**
   *订单详情样式
   */
  /**
   *底部返回样式
   */
}

.purchaser-order .search-condition {
  /**
     *重新定义表单左侧label宽度
     */
  /**
     *定义表单右侧input宽度
     */
  /**
     *定义表单右侧时间input宽度
     */
}

.purchaser-order .search-condition .form-label {
  width: 100px;
  padding-right: 5px;
}

.purchaser-order .search-condition .form-control.date {
  width: 150px;
}

.purchaser-order .search-condition .form-control.amount {
  width: 95px;
}

.purchaser-order .order-detail .title {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  padding-left: 10px;
}

.purchaser-order .order-detail .content-normal {
  width: 100%;
  padding: 10px 0 20px 0;
  font-size: 12px;
  color: #666;
  border: 1px solid #e4e4e4;
}

.purchaser-order .bottom-back {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-top: 2px solid #C4C4C4;
}

/*采购商京东样式*/

/**
 * Created by 刘圆圆 on 2017/8/16.
 *
 */

.content_right .right-side-order-head {
  height: 40px;
  background-color: #fff;
  line-height: 40px;
  margin-left: 15px;
}

/*采购商售后申请样式*/

/**
 * Created by wangxiao on 2017/8/12.
 */

.left-side .menu-head-title {
  width: 180px;
  height: 40px;
  color: #CC0000;
  font-size: 16px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 2px solid #CC0000;
  background-color: #FBECEC;
  position: relative;
}

.left-side .menu-head-title .icon-menu {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 16px;
  font-weight: 800;
}

.left-side .menu-head-title .icon-menu:before {
  content: "";
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #CC0000;
  background: url("../img/icon-jd.png") no-repeat;
  position: absolute;
  z-index: 999;
}

.right-side .returnGoods-detail {
  width: 1005px;
  padding: 15px 0 0 15px;
}

.right-side .returnGoods-detail .return-shop .title {
  height: 40px;
  line-height: 40px;
}

.right-side .returnGoods-detail .return-shop .list-head {
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-bottom-width: 0;
  background-color: #F7F7F7;
}

.right-side .returnGoods-detail .return-shop .list-head .name {
  width: 485px;
}

.right-side .returnGoods-detail .return-shop .list-head .num {
  width: 220px;
}

.right-side .returnGoods-detail .return-shop .list-head .zeng {
  width: 273px;
}

.right-side .returnGoods-detail .return-shop .detail {
  overflow: hidden;
}

.right-side .returnGoods-detail .return-shop .detail .member-messagebot {
  height: 120px;
  background-color: white;
  border: 1px solid #e4e4e4;
}

.right-side .returnGoods-detail .return-shop .detail .member-messagebot .member-tabletra {
  width: 480px;
  padding: 20px 10px 15px 10px;
}

.right-side .returnGoods-detail .return-shop .detail .member-messagebot .member-name {
  width: 220px;
  padding-top: 20px;
  height: 100%;
}

.right-side .returnGoods-detail .return-shop .detail .member-messagebot .member-name .num {
  line-height: 1;
  text-align: center;
}

.right-side .returnGoods-detail .return-shop .detail .member-messagebot .member-money {
  width: 283px;
  color: #666666;
  padding-top: 20px;
  border-right: none;
}

.right-side .returnGoods-detail .return-info .title {
  height: 40px;
  line-height: 40px;
}

.right-side .returnGoods-detail .return-info .detail {
  background-color: white;
  border: 1px solid #E4E4E4;
}

.right-side .returnGoods-detail .return-info .detail .info-row {
  margin-top: 20px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .label {
  width: 100px;
  line-height: 36px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .req:before {
  display: inline-block;
  content: "*";
  color: red;
  width: 12px;
  height: 12px;
  text-align: center;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text {
  margin-left: 40px;
  margin-top: 5px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .reduce {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-right-width: 0;
  background-color: white;
  outline: none;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .add {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-left-width: 0;
  background-color: white;
  outline: none;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .num {
  width: 40px;
  height: 24px;
  border: 1px solid #CCCCCC;
  text-align: center;
  outline: none;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .describe {
  width: 550px;
  height: 100px;
  resize: none;
  color: #666666;
  font-size: 12px;
  padding: 5px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg {
  width: 550px;
  height: 102px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox {
  position: relative;
  width: 102px;
  height: 102px;
  border: 1px dashed #CCCCCC;
  background-color: #F2F2F2;
  margin-left: 10px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox:first-child {
  margin-left: 0;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox .inputFile {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
  width: 102px;
  height: 102px;
  z-index: 1;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox .deleteImg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #CC0000;
  opacity: .7;
  background-color: white;
  cursor: pointer;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox .imgUrl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox .imgMask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  color: white;
  opacity: .5;
  background-color: black;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .uploadImg .img-list .imgBox .addIcon {
  height: 70px;
  line-height: 95px;
  font-size: 40px;
  font-weight: 400;
  color: #666666;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .text-detail {
  line-height: 26px;
}

.right-side .returnGoods-detail .return-info .detail .info-row .text .form-inline .form-ul {
  left: -4px;
}

/*退货样式*/

.right-side {
  font-size: 12px;
  margin: 15px 0 0 15px;
}

.right-side .crumbs {
  background-color: white;
}

.right-side .order-search {
  padding: 30px 50px;
  background-color: #fff;
}

.right-side .order-search .search-input {
  width: 240px;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
}

.right-side .return-goodsBox {
  background-color: #fff;
}

.right-side .return-goodsBox .info-head {
  height: 40px;
  line-height: 39px;
  background-color: #F7F7F7;
  border: 1px solid #e4e4e4;
}

.right-side .return-goodsBox .info-head .h1 {
  width: 140px;
}

.right-side .return-goodsBox .info-head .h2 {
  width: 120px;
}

.right-side .return-goodsBox .info-head .h3 {
  width: 582px;
}

.right-side .return-goodsBox .info-head .h4 {
  width: 160px;
}

.right-side .return-goodsBox .info-body > tbody > tr > td {
  border-bottom: 1px solid #e4e4e4;
  border-top-width: 0;
}

.right-side .return-goodsBox .info-body {
  width: 100%;
  border-collapse: collapse;
  border-left: 1px solid #e4e4e4;
}

.right-side .return-goodsBox .info-body td {
  text-align: center;
  border-right: 1px solid #e4e4e4;
}

.right-side .return-goodsBox .info-body .orderId {
  width: 140px;
}

.right-side .return-goodsBox .info-body .goods {
  width: 702px;
}

.right-side .return-goodsBox .info-body .goods .goods-box {
  border-collapse: collapse;
}

.right-side .return-goodsBox .info-body .goods .goods-box td {
  border-left: 1px solid #e4e4e4;
  border-right-width: 0;
}

.right-side .return-goodsBox .info-body .goods .goods-box td:first-child {
  border-left: none;
}

.right-side .return-goodsBox .info-body .goods .goods-box td:last-child {
  border-bottom: none;
}

.right-side .return-goodsBox .info-body .goods .goods-box .goodsId {
  width: 120px;
}

.right-side .return-goodsBox .info-body .goods .goods-box .goods-list {
  width: 582px;
  padding-bottom: 15px;
}

.right-side .return-goodsBox .info-body .goods .goods-box .goods-list .goods-item {
  width: 92px;
  padding: 15px 0 0 10px;
}

.right-side .return-goodsBox .info-body .goods .goods-box .goods-list .goods-item .pImg {
  display: inline-block;
  width: 82px;
  height: 82px;
  border: 1px solid #e4e4e4;
}

.right-side .return-goodsBox .info-body .goods .goods-box .goods-list .goods-item .pBtn {
  width: 80px;
  margin-top: 5px;
  border: 1px solid #e4e4e4;
}

.right-side .return-goodsBox .info-body .order-time {
  width: 160px;
}

/*采购商售后记录详情样式*/

/**
 * Created by wangxiao on 2017/8/12.
 */

.left-side .menu-head-title {
  width: 180px;
  height: 40px;
  color: #CC0000;
  font-size: 16px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 2px solid #CC0000;
  background-color: #FBECEC;
  position: relative;
}

.left-side .menu-head-title .icon-menu {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 16px;
  font-weight: 800;
}

.left-side .menu-head-title .icon-menu:before {
  content: "";
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #CC0000;
  background: url("../img/icon-jd.png") no-repeat;
  position: absolute;
  z-index: 999;
}

.right-main-content {
  margin: 15px 0 0 15px;
  margin-bottom: 50px;
}

.right-main-content .warn-info {
  padding: 15px;
  border: 1px solid #e4e4e4;
  border-top: 2px solid #108EE9;
  background-color: white;
  position: relative;
}

.right-main-content .warn-info:after {
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: url("../img/pur-odrder_03.gif");
}

.right-main-content .service-info {
  background-color: white;
}

.right-main-content .service-info .title {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.right-main-content .service-info .info-box {
  border: 1px solid #e4e4e4;
  padding: 10px 20px 20px 0;
}

.right-main-content .service-info .info-box .row {
  line-height: 30px;
}

.right-main-content .service-info .info-box .row .label {
  vertical-align: top;
  width: 120px;
}

.right-main-content .service-info .info-box .row .text {
  width: 829px;
  word-wrap: break-word;
}

.order-track {
  padding-top: 20px;
  margin-top: 10px;
  background-color: white;
}

.order-track .title {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.order-track .track-list {
  width: 100%;
  padding-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
}

.order-track .track-list .head {
  height: 40px;
  line-height: 40px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #e4e4e4;
}

.order-track .track-list .head .time {
  width: 160px;
}

.order-track .track-list .head .info {
  width: 680px;
}

.order-track .track-list .head .name {
  width: 148px;
}

.order-track .track-list .list-row {
  line-height: 30px;
}

.order-track .track-list .list-row .time {
  width: 160px;
}

.order-track .track-list .list-row .info {
  width: 680px;
  padding-right: 40px;
}

.order-track .track-list .list-row .name {
  width: 148px;
}

/*采购商流程跟踪样式*/

/*by wangxiao on 2017-08-23*/

.flow-box {
  border: 1px solid #D2EAFB;
}

.flow-box .title {
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  background-color: #ECF6FD;
}

.flow-box .flow-list {
  font-size: 12px;
  padding: 15px 0 20px 50px;
  background: white;
}

.flow-box .flow-list .row,
.flow-box .flow-list .process-content {
  border-left: 1px solid #e4e4e4;
}

.flow-box .flow-list .row .info,
.flow-box .flow-list .process-content .info {
  height: 40px;
  line-height: 40px;
}

.flow-box .flow-list .row .info .top:before,
.flow-box .flow-list .process-content .info .top:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 13px;
  position: absolute;
  left: 3px;
  top: -13px;
  z-index: 99;
  background-color: white;
}

.flow-box .flow-list .row .info .bottom:before,
.flow-box .flow-list .process-content .info .bottom:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 30px;
  position: absolute;
  left: 3px;
  top: 11px;
  z-index: 99;
  background-color: white;
}

.flow-box .flow-list .row .info .icon-green,
.flow-box .flow-list .process-content .info .icon-green {
  display: inline-block;
  position: relative;
  left: -6px;
  width: 10px;
  height: 10px;
  background-image: url('../img/flow-1.png');
}

.flow-box .flow-list .row .info .icon-orange,
.flow-box .flow-list .process-content .info .icon-orange {
  display: inline-block;
  position: relative;
  left: -6px;
  width: 10px;
  height: 10px;
  background-image: url('../img/flow-2.png');
}

.flow-box .flow-list .row .info .icon-blue,
.flow-box .flow-list .process-content .info .icon-blue {
  display: inline-block;
  position: relative;
  left: -6px;
  width: 10px;
  height: 10px;
  background-image: url('../img/flow-3.png');
}

.flow-box .flow-list .row .opinion,
.flow-box .flow-list .process-content .opinion {
  padding-left: 13px;
}

.flow-box .flow-input {
  padding: 20px 0;
  background-color: #FEF9ED;
}

.flow-box .flow-input .submit-box {
  padding-left: 112px;
}

/*采购商订单table样式*/

/**
 * Created by 刘泽举 on 2017/8/22.
 * 采购商我的订单中table样式
 */

.sales-order-table,
.order-table,
.allocation-order-table {
  /**
 *表格头部标题样式
 */
  /**
     *表格头部标题与表格内容中间信息样式
     */
}

.sales-order-table .order-table-header,
.order-table .order-table-header,
.allocation-order-table .order-table-header {
  border-collapse: collapse;
  border: 1px solid #e4e4e4;
  background-color: #F9F9F9;
  font-size: 12px;
  color: #333333;
}

.sales-order-table .order-table-header .table-header-title,
.order-table .order-table-header .table-header-title,
.allocation-order-table .order-table-header .table-header-title {
  height: 40px;
  line-height: 40px;
}

.sales-order-table .order-table-header .table-header-title.ani-float,
.order-table .order-table-header .table-header-title.ani-float,
.allocation-order-table .order-table-header .table-header-title.ani-float {
  position: fixed;
  top: 0px;
  margin-left: -1px;
  width: 1005px;
  border: 1px solid #e4e4e4;
  background-color: #F9F9F9;
}

.sales-order-table .order-table-header-operation,
.order-table .order-table-header-operation,
.allocation-order-table .order-table-header-operation {
  padding: 5px 0;
  font-size: 12px;
}

.sales-order-table .order-table-header-operation .btn-export,
.order-table .order-table-header-operation .btn-export,
.allocation-order-table .order-table-header-operation .btn-export {
  width: 70px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #108ee9;
  color: #108ee9;
  text-align: center;
  background: #ecf6fd;
}

.sales-order-table .order-table-header-operation .btn-next-page,
.order-table .order-table-header-operation .btn-next-page,
.allocation-order-table .order-table-header-operation .btn-next-page {
  border: 1px solid #bfbfbf;
  float: right;
  width: 80px;
  height: 24px;
  line-height: 24px;
  background: white;
  text-align: center;
}

.sales-order-table .order-table-header-operation .btn-next-page[disabled],
.order-table .order-table-header-operation .btn-next-page[disabled],
.allocation-order-table .order-table-header-operation .btn-next-page[disabled] {
  color: #cccccc;
}

.sales-order-table .order-table-header-info,
.order-table .order-table-header-info,
.allocation-order-table .order-table-header-info {
  border: 1px solid #d2eafb;
  padding: 0 10px;
  color: #108EE9;
  font-size: 12px;
  line-height: 40px;
  background-color: #ecf6fd;
}

.sales-order-table .order-table-header-info .content,
.order-table .order-table-header-info .content,
.allocation-order-table .order-table-header-info .content {
  line-height: 40px;
}

.sales-order-table .order-table-header-info .line,
.order-table .order-table-header-info .line,
.allocation-order-table .order-table-header-info .line {
  border-top: 1px  dashed #9bd0f5;
}

.sales-order-table .order-table-header-info .download-button,
.order-table .order-table-header-info .download-button,
.allocation-order-table .order-table-header-info .download-button {
  cursor: pointer;
  float: right;
  height: 28px;
  color: #666;
  line-height: 28px;
  margin: 5px 0 0 0;
  padding: 0 10px 0 30px;
  border: 1px solid #bfbfbf;
  background: white url(../img/icon-accessory-download.png) no-repeat top 7px left 10px;
  background-size: 15%;
}

.sales-order-table .order-table-header-info2,
.order-table .order-table-header-info2,
.allocation-order-table .order-table-header-info2 {
  border: 1px solid #e4e4e4;
  padding: 0 10px;
  color: #666666;
  font-size: 12px;
  line-height: 40px;
  background-color: #f5f5f5;
}

.sales-order-table .order-table-header-info2 .content,
.order-table .order-table-header-info2 .content,
.allocation-order-table .order-table-header-info2 .content {
  height: 40px;
  line-height: 40px;
}

.sales-order-table .order-table-content,
.order-table .order-table-content,
.allocation-order-table .order-table-content {
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}

.sales-order-table .order-table-content .table-row,
.order-table .order-table-content .table-row,
.allocation-order-table .order-table-content .table-row {
  height: 130px;
}

.sales-order-table .order-table-content .table-row .add-price,
.order-table .order-table-content .table-row .add-price,
.allocation-order-table .order-table-content .table-row .add-price {
  position: relative;
}

.sales-order-table .order-table-content .table-row .add-price-text,
.order-table .order-table-content .table-row .add-price-text,
.allocation-order-table .order-table-content .table-row .add-price-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #333333;
}

.sales-order-table .order-table-content .table-row .add-price-text .add-price-text-line,
.order-table .order-table-content .table-row .add-price-text .add-price-text-line,
.allocation-order-table .order-table-content .table-row .add-price-text .add-price-text-line {
  font-size: 10px;
}

.sales-order-table .order-table-content .table-row .add-price-text.c_red,
.order-table .order-table-content .table-row .add-price-text.c_red,
.allocation-order-table .order-table-content .table-row .add-price-text.c_red {
  color: #CC0000;
}

.sales-order-table .order-table-content .table-row-orderDayReconciliation,
.order-table .order-table-content .table-row-orderDayReconciliation,
.allocation-order-table .order-table-content .table-row-orderDayReconciliation {
  height: 70px;
}

.sales-order-table .order-table-content .table-row-orderDayReconciliation td,
.order-table .order-table-content .table-row-orderDayReconciliation td,
.allocation-order-table .order-table-content .table-row-orderDayReconciliation td {
  border: 1px solid #e4e4e4;
}

.sales-order-table .order-table-content .table-row td,
.order-table .order-table-content .table-row td,
.allocation-order-table .order-table-content .table-row td {
  border: 1px solid #e4e4e4;
  padding: 12px 0;
  position: relative;
}

.sales-order-table .order-table-content .table-img,
.order-table .order-table-content .table-img,
.allocation-order-table .order-table-content .table-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e4e4e4;
  margin: 10px 8px 15px 8px;
  float: left;
}

.sales-order-table .order-table-content .table-img img,
.order-table .order-table-content .table-img img,
.allocation-order-table .order-table-content .table-img img {
  width: 78px;
  height: 78px;
}

.sales-order-table .order-table-content .table-goods-describe,
.order-table .order-table-content .table-goods-describe,
.allocation-order-table .order-table-content .table-goods-describe {
  float: left;
  width: 280px;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
}

.sales-order-table .order-table-content .table-goods-describe .goods-name,
.order-table .order-table-content .table-goods-describe .goods-name,
.allocation-order-table .order-table-content .table-goods-describe .goods-name {
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 40px;
}

.sales-order-table .order-table-content .table-goods-describe .goods-name.fixed-height,
.order-table .order-table-content .table-goods-describe .goods-name.fixed-height,
.allocation-order-table .order-table-content .table-goods-describe .goods-name.fixed-height {
  height: 40px;
}

.sales-order-table .order-table-content .table-goods-describe .add-price-text.pos-inh,
.order-table .order-table-content .table-goods-describe .add-price-text.pos-inh,
.allocation-order-table .order-table-content .table-goods-describe .add-price-text.pos-inh {
  position: inherit;
}

.sales-order-table .order-table-content .table-goods-describe-bottom,
.order-table .order-table-content .table-goods-describe-bottom,
.allocation-order-table .order-table-content .table-goods-describe-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sales-order-table .order-table-content .table-goods-describe-bottom .goods-number,
.order-table .order-table-content .table-goods-describe-bottom .goods-number,
.allocation-order-table .order-table-content .table-goods-describe-bottom .goods-number {
  margin: 0 10px 0 20px;
}

.sales-order-table .order-table-content .table-goods-warranty,
.order-table .order-table-content .table-goods-warranty,
.allocation-order-table .order-table-content .table-goods-warranty {
  font-size: 12px;
  color: #B9A997;
}

.sales-order-table .order-table-content .table-goods-warranty .icon,
.order-table .order-table-content .table-goods-warranty .icon,
.allocation-order-table .order-table-content .table-goods-warranty .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 15px;
  text-align: center;
  border: 2px solid #B9A997;
}

.sales-order-table .order-table-content .table-goods-gift,
.order-table .order-table-content .table-goods-gift,
.allocation-order-table .order-table-content .table-goods-gift {
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #999999;
  padding-left: 10px;
}

.sales-order-table .order-table-content .table-text-gray,
.order-table .order-table-content .table-text-gray,
.allocation-order-table .order-table-content .table-text-gray {
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.sales-order-table .order-table-content .table-text-green,
.order-table .order-table-content .table-text-green,
.allocation-order-table .order-table-content .table-text-green {
  font-size: 12px;
  color: #409D24;
  text-align: center;
}

.sales-order-table .order-table-content .table-text-red,
.order-table .order-table-content .table-text-red,
.allocation-order-table .order-table-content .table-text-red {
  font-size: 12px;
  color: #CC0000;
  text-align: center;
}

.sales-order-table .order-table-content .table-operation-button,
.order-table .order-table-content .table-operation-button,
.allocation-order-table .order-table-content .table-operation-button {
  width: 100px;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.sales-order-table .order-table-content .table-sendgood-button,
.order-table .order-table-content .table-sendgood-button,
.allocation-order-table .order-table-content .table-sendgood-button {
  width: 100px;
  cursor: pointer;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.sales-order-table .order-table-content .table-sendgood-button.gray,
.order-table .order-table-content .table-sendgood-button.gray,
.allocation-order-table .order-table-content .table-sendgood-button.gray {
  background: #FBFBFB;
  border: 1px solid #BFBFBF;
  color: #666666;
}

.sales-order-table .order-table-content .table-operation-button.gray,
.order-table .order-table-content .table-operation-button.gray,
.allocation-order-table .order-table-content .table-operation-button.gray {
  background: #FBFBFB;
  border: 1px solid #BFBFBF;
  color: #666666;
}

.sales-order-table .order-table-content .table-operation-button.red,
.order-table .order-table-content .table-operation-button.red,
.allocation-order-table .order-table-content .table-operation-button.red {
  background: #fbebeb;
  border: 1px solid #CC0000;
  color: #CC0000;
}

.sales-order-table .order-table-content .table-operation-button.blue,
.order-table .order-table-content .table-operation-button.blue,
.allocation-order-table .order-table-content .table-operation-button.blue {
  background: #ecf6fd;
  border: 1px solid #108EE9;
  color: #108EE9;
}

.sales-order-table .order-table-content .table-operation-button.green,
.order-table .order-table-content .table-operation-button.green,
.allocation-order-table .order-table-content .table-operation-button.green {
  background: #ebf8f2;
  border: 1px solid #00A854;
  color: #00A854;
}

.sales-order-table .order-table-content .table-operation-a,
.order-table .order-table-content .table-operation-a,
.allocation-order-table .order-table-content .table-operation-a {
  font-size: 12px;
  text-align: center;
  color: #108EE9;
}

.sales-order-table .order-table-content .xy-order-track,
.order-table .order-table-content .xy-order-track,
.allocation-order-table .order-table-content .xy-order-track {
  color: #666666;
  line-height: 30px;
  font-size: 12px;
}

.sales-order-table .order-table-content .xy-order-track .carrier,
.order-table .order-table-content .xy-order-track .carrier,
.allocation-order-table .order-table-content .xy-order-track .carrier {
  float: left;
  width: 139px;
  min-height: 1px;
  text-align: center;
}

.sales-order-table .order-table-content .xy-order-track .code,
.order-table .order-table-content .xy-order-track .code,
.allocation-order-table .order-table-content .xy-order-track .code {
  float: left;
  width: 150px;
  min-height: 1px;
  text-align: center;
}

.sales-order-table .order-table-content .xy-order-track .time,
.order-table .order-table-content .xy-order-track .time,
.allocation-order-table .order-table-content .xy-order-track .time {
  float: left;
  width: 160px;
  text-align: center;
  min-height: 1px;
}

.sales-order-table .order-table-content .xy-order-track .info,
.order-table .order-table-content .xy-order-track .info,
.allocation-order-table .order-table-content .xy-order-track .info {
  float: left;
  width: 405px;
  padding-right: 30px;
  min-height: 1px;
}

.sales-order-table .order-table-content .xy-order-track .operator,
.order-table .order-table-content .xy-order-track .operator,
.allocation-order-table .order-table-content .xy-order-track .operator {
  float: left;
  width: 149px;
  min-height: 1px;
}

.sales-order-table .no-border-bottom,
.order-table .no-border-bottom,
.allocation-order-table .no-border-bottom {
  border-bottom: 0;
}

.sales-order-table .no-border-top,
.order-table .no-border-top,
.allocation-order-table .no-border-top {
  border-top: 0;
}

.sales-order-table .load-more,
.order-table .load-more,
.allocation-order-table .load-more {
  height: 40px;
  line-height: 40px;
  border: 1px dashed #c2c2c2;
}

.order-adjust-price-table .adjust-price-table {
  border-collapse: collapse;
  border: 1px solid #e4e4e4;
  font-size: 12px;
  color: #333333;
}

.order-adjust-price-table .adjust-price-table .adjust-price-table-header {
  border: 1px solid #e4e4e4;
  height: 40px;
  line-height: 40px;
  background-color: #F9F9F9;
  text-align: center;
}

.order-adjust-price-table .adjust-price-table .adjust-price-table-body {
  color: #666666;
}

.order-adjust-price-table .adjust-price-table .adjust-price-table-body td {
  border: 1px solid #e4e4e4;
  padding: 10px 0;
  position: relative;
}

.order-adjust-price-table .adjust-price-table .table-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e4e4e4;
  margin: 0 8px;
  float: left;
}

.order-adjust-price-table .adjust-price-table .table-img img {
  width: 78px;
  height: 78px;
}

.order-adjust-price-table .adjust-price-table .add-price-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #333333;
}

.order-adjust-price-table .adjust-price-table .add-price-text .add-price-text-line {
  font-size: 10px;
}

.order-adjust-price-table .adjust-price-table .table-goods-describe {
  float: left;
  width: 200px;
}

.order-adjust-price-table .adjust-price-table .table-goods-describe .goods-name {
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 35px;
}

.order-adjust-price-table .adjust-price-table .table-goods-describe .goods-name.fixed-height {
  height: 35px;
}

.order-adjust-price-table .adjust-price-table .table-goods-describe .add-price-text.pos-inh {
  position: inherit;
  margin-top: 30px;
}

.order-adjust-price-table .adjust-price-table .table-goods-describe .add-price-text.c_red {
  color: #CC0000;
}

.order-adjust-price-table .adjust-price-table .price-input {
  width: 100px;
  padding: 0 5px;
}

/*采购商订单详情底部结算样式*/

.bottom-settlement .total-container {
  border: 1px solid #FBE9C5;
  background-color: #FEF9ED;
  margin-top: 15px;
  padding: 0 30px;
}

.bottom-settlement .total-container .total-top,
.bottom-settlement .total-container .total-middle,
.bottom-settlement .total-container .total-bottom {
  height: 50px;
  line-height: 50px;
}

.bottom-settlement .total-container .total-top {
  line-height: 48px;
}

.bottom-settlement .total-container .total-top .c_color_CC9900 {
  color: #CC9900;
}

.bottom-settlement .total-container .total-middle {
  border-bottom: 1px solid #FBE9C5;
}

/**dialog弹窗样式**/

.dilog-list-group {
  display: block;
  height: 96px;
  padding-top: 16px;
}

.dilog-list-group .dilog-list-title {
  display: inline-block;
  font-size: 12px;
  width: 114px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  vertical-align: top;
  color: #666;
}

.dilog-list-group .dilog-list-title span {
  color: #CC0000;
  padding-right: 5px;
}

.dilog-list-group .dilog-list-p {
  display: inline-block;
}

.dilog-list-group .dilog-list-p textarea {
  padding: 4px 8px;
  width: 320px;
  height: 72px;
}

.leftNav {
  width: 180px;
  float: left;
  min-height: 400px;
}

.additional-key-property-h {
  line-height: 40px;
  font-family: 'MicrosoftYaHei', '微软雅黑';
  font-style: normal;
  font-size: 14px;
  color: #333333;
  padding-left: 10px;
}

.additional-key-property {
  background: #fff;
  font-family: 'MicrosoftYaHei', '微软雅黑';
}

.additional-key-property-btn {
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #e0e0e0;
  margin: 10px 0 0 10px;
}

.search-condition-s {
  background: #fff;
  border: 1px solid #d5d5d5;
}

.formS200 {
  width: 200px;
}

.tabs-search-p0 {
  background: #fff;
}

.table-list-group-Material {
  margin-left: 10px;
}

.h14 {
  font-family: 'MicrosoftYaHei', '微软雅黑';
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.info-row {
  margin-top: 20px;
  margin-left: 112px;
}

.info-row .label {
  line-height: 36px;
  color: #666666;
}

.info-row .label .req:before {
  display: inline-block;
  content: "*";
  color: red;
  width: 12px;
  height: 12px;
  text-align: center;
}

.info-row .text {
  margin-top: 5px;
}

.info-row .text .reduce {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-right-width: 0;
  background-color: white;
  outline: none;
}

.info-row .text .add {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-left-width: 0;
  background-color: white;
  outline: none;
}

.info-row .text .num {
  width: 40px;
  height: 24px;
  border: 1px solid #CCCCCC;
  text-align: center;
  outline: none;
}

.info-row .text .describe {
  width: 550px;
  height: 100px;
  resize: none;
  color: #666666;
  font-size: 12px;
  padding: 5px;
}

.info-row .text .uploadImg {
  width: 560px;
  height: 102px;
}

.info-row .text .uploadImg .img-list .imgBox {
  position: relative;
  width: 102px;
  height: 102px;
  border: 1px dashed #CCCCCC;
  background-color: #F2F2F2;
  margin-left: 10px;
}

.info-row .text .uploadImg .img-list .figure {
  width: 100px;
  line-height: 24px;
  background: #999;
  background-color: rgba(9, 9, 9, 0.2);
  color: #666666;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.info-row .text .uploadImg .img-list:first-child {
  margin-left: 0;
}

.info-row .text .uploadImg .img-list .inputFile {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
  width: 102px;
  height: 102px;
  z-index: 1;
}

.info-row .text .uploadImg .img-list .deleteImg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #CC0000;
  opacity: .7;
  background-color: white;
  cursor: pointer;
}

.info-row .text .uploadImg .img-list .imgUrl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.info-row .text .uploadImg .img-list .imgMask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  color: white;
  opacity: .5;
  background-color: black;
}

.info-row .text .uploadImg .img-list .addIcon {
  height: 70px;
  line-height: 95px;
  font-size: 40px;
  font-weight: 400;
  color: #666666;
}

.text-detail {
  line-height: 26px;
}

.up_pic {
  color: #666;
}

.prompting {
  width: 549px;
  height: 34px;
  line-height: 34px;
  background: inherit;
  background-color: #fef9ed;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #fbe9c5;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #666666;
  text-align: left;
}

.prompting img {
  width: 15px;
  height: 15px;
  margin: 10px 10px 0 10px;
}

.GoodsReleased-outer {
  background: #fff;
  margin: 10px 0 0 10px;
  border: 1px solid #e5e5e5;
}

.GoodsReleased {
  text-align: center;
  padding: 100px 0 150px 0;
}

.GoodsReleased-txt {
  font-family: PingFangSC-Semibold, "PingFang SC Semibold", "PingFang SC";
  font-style: normal;
  font-size: 20px;
  color: #666666;
  text-align: center;
  line-height: 24px;
}

.additional-key-property-bc {
  font-family: 'MicrosoftYaHei', '微软雅黑';
}

.additional-key-property-h {
  line-height: 40px;
  font-family: 'MicrosoftYaHei', '微软雅黑';
  font-style: normal;
  font-size: 14px;
  color: #333333;
  padding-left: 10px;
}

.additional-key-property {
  background: #fff;
  border: 1px solid #e4e4e4;
  margin: 0 0 0 10px;
  font-family: 'MicrosoftYaHei', '微软雅黑';
}

.additional-key-property-btn {
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #e0e0e0;
  margin: 10px 0 0 10px;
}

.search-condition-s {
  background: #fff;
  border: 1px solid #d5d5d5;
}

.formS200 {
  width: 200px;
}

.tabs-search-p0 {
  background: #fff;
}

.table-list-group-Material {
  margin-left: 10px;
}

.h14 {
  font-family: 'MicrosoftYaHei', '微软雅黑';
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.info-row {
  margin-top: 20px;
  margin-left: 112px;
}

.info-row .label {
  line-height: 36px;
  color: #666666;
}

.info-row .label .req:before {
  display: inline-block;
  content: "*";
  color: red;
  width: 12px;
  height: 12px;
  text-align: center;
}

.info-row .text {
  margin-top: 5px;
}

.info-row .text .reduce {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-right-width: 0;
  background-color: white;
  outline: none;
}

.info-row .text .add {
  width: 20px;
  height: 24px;
  border: 1px solid #CCCCCC;
  border-left-width: 0;
  background-color: white;
  outline: none;
}

.info-row .text .num {
  width: 40px;
  height: 24px;
  border: 1px solid #CCCCCC;
  text-align: center;
  outline: none;
}

.info-row .text .describe {
  width: 550px;
  height: 100px;
  resize: none;
  color: #666666;
  font-size: 12px;
  padding: 5px;
}

.info-row .text .uploadImg {
  width: 560px;
  height: 102px;
}

.info-row .text .uploadImg .img-list .imgBox {
  position: relative;
  width: 102px;
  height: 102px;
  border: 1px dashed #CCCCCC;
  background-color: #F2F2F2;
  margin-left: 10px;
}

.info-row .text .uploadImg .img-list .figure {
  width: 100px;
  line-height: 24px;
  background: #999;
  background-color: rgba(9, 9, 9, 0.2);
  color: #666666;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.info-row .text .uploadImg .img-list:first-child {
  margin-left: 0;
}

.info-row .text .uploadImg .img-list .inputFile {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
  width: 102px;
  height: 102px;
  z-index: 1;
}

.info-row .text .uploadImg .img-list .deleteImg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #CC0000;
  opacity: .7;
  background-color: white;
  cursor: pointer;
}

.info-row .text .uploadImg .img-list .imgUrl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.info-row .text .uploadImg .img-list .imgMask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  font-size: 18px;
  text-align: center;
  line-height: 100px;
  color: white;
  opacity: .5;
  background-color: black;
}

.info-row .text .uploadImg .img-list .addIcon {
  height: 70px;
  line-height: 95px;
  font-size: 40px;
  font-weight: 400;
  color: #666666;
}

.text-detail {
  line-height: 26px;
}

.up_pic {
  color: #666;
}

.prompting {
  width: 549px;
  height: 34px;
  line-height: 34px;
  background: inherit;
  background-color: #fef9ed;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #fbe9c5;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #666666;
  text-align: left;
}

.prompting img {
  width: 15px;
  height: 15px;
  margin: 10px 10px 0 10px;
}

.GoodsReleased-outer {
  background: #fff;
  margin: 10px 0 0 10px;
  border: 1px solid #e5e5e5;
}

.GoodsReleased {
  text-align: center;
  padding: 100px 0 150px 0;
}

.GoodsReleased-txt {
  font-family: PingFangSC-Semibold, "PingFang SC Semibold", "PingFang SC";
  font-style: normal;
  font-size: 20px;
  color: #666666;
  text-align: center;
  line-height: 24px;
}

.additional-key-property-bc {
  background: #fff;
  border: 1px solid #e4e4e4;
  font-family: 'MicrosoftYaHei', '微软雅黑';
}

.bootstrap-setTdFormat {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productEdit-top {
  text-align: left;
  float: none;
  line-height: 16px !important;
}

.controlShow {
  display: none;
}

.productEdit-middle {
  position: relative !important;
  vertical-align: middle !important;
}

.productEdit-bottom {
  float: none;
  margin-left: 88px;
}

.objection .cell {
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
}
